/**/.DS_Store
/**/*.js.map
/**/*.metadata.json
/.vscode/
/.idea/
/publish/node_modules/
/publish/package/
/publish/src/
/src/**/*.js
/src/node_modules/
!/src/postinstall.js
!/src/preuninstall.js
/BACKLOG.md
